body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	background: linear-gradient(45deg, #404040FF, #808080FF);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}


#container {
	height: 100%;
	position: relative;
}

#canvas {
	width: 100%;
	height: 100%;
}

#background {
	display: block;
}

#grid {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: grid;
	grid-template-rows: 26% 20% 20% 17% 17%;
	grid-template-columns: 32% 6.5% 11% 11% 5.5% 7% 27%;
	grid-template-areas:
	"tutorial tutorial tutorial tutorial tutorial tutorial tutorial"
	". . . . . . ."
	". fan . basket . book ."
	". . . shoe . . ."
	"gui gui gui gui gui gui gui"
	;
}

#tutorial {
	grid-area: tutorial;
	justify-self: center;
	align-self: end;
}

#gui {
	grid-area: gui;
}

#fan {
	grid-area: fan;
	transform: translateY(90%) rotate(-135deg);
	filter: brightness(0.5);
}

#basket {
	grid-area: basket;
	transform: translateY(15%);
}

#book {
	grid-area: book;
	transform: translateY(130%);
}

#shoe {
	grid-area: shoe;
	transform: scaleX(-1) translate(-35%, 110%);
}

#cover {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}